@model IEnumerable<HomeBuy.Data.Entities.Home>

@{
    ViewData["Title"] = "Home App";
}

<h1>Home List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<p>Count: @Model.Count()</p>
<div class="row">
    @foreach (var p in Model)
    {
        <div class="col-md-3">
            <div class="border bg-light rounded p-1">
                <img src="~/img/home1.jpg" class="img-fluid"/>
                <ul class="products-props">
                    <li>Type: @p.Type</li>
                    <li>Floors: @p.Floors</li>
                    <li>Address: @p.HomeAddress </li>
                    <li>State: @p.HomeState</li>
                </ul>
                <button onclick="location.href='@Url.Action("Create", "Homes")'" id="buyButton" class="btn btn-success">Buy</button>
            </div>
        </div>
    }
</div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Floors)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HomeAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HomeState)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Floors)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HomeAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HomeState)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
